.chatWindow {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sender {
  color: #000000;
  font-weight: 700;
}
.sender::after {
  content: "•";
  color: #f2e822;
  margin: 0 0.5rem;
}

.role {
  font-size: 0.8em;
  font-weight: 400;
  color: #777;
}

.senderRole {
  display: flex;
  align-items: center;
}

.timestamp {
  font-size: 0.7em;
  color: #ccc;
}

.messageBlock {
  padding: 5px 0;
}

.messageText {
  color: #444;
  background-color: #00000005;
  border-radius: 12px;
  padding: 10px;
  margin: 0;
  word-wrap: break-word;
}

.inputRow {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 10px 0;
  border-top: 1px solid #444;
}

.messageInput {
  border-color: #ccc;
}

.sendButton {
  background-color: #f96332;
}
