.messageList {
  overflow-y: auto;
  height: 100%;
}

.userContainer {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.userNameRoleContainer {
  flex-grow: 1;
}

.userName {
  font-size: 1rem;
  font-weight: bold;
}

.userRole {
  font-size: 0.8rem;
  color: #777;
}

@media (max-width: 768px) {
  .userNameRoleContainer {
    flex-direction: column;
    margin-left: 0.5rem;
  }

  .userName {
    font-size: 0.9rem;
  }

  .userRole {
    font-size: 0.75rem;
  }
}

.selectedUser {
  background-color: black;
  color: white;
}

@media (max-width: 576px) {
  .userImage {
    width: 40px;
    height: 40px;
  }

  .userNameRoleContainer {
    margin-left: 0.4rem;
  }

  .userName {
    font-size: 0.8rem;
  }

  .userRole {
    font-size: 0.7rem;
  }
}
